<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teiath.harrys.vquiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MenuActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/vquiz_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.GameActivity"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activities.CategoriesActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.MenuActivity"
            android:label="@string/vquiz_name"/>
        <activity
            android:name=".Activities.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GlobalStatistics" />
        <activity android:name=".GraphPieStatistics" />
        <activity
            android:name=".Activities.PreStatsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.MenuActivity"
            android:label="@string/vquiz_name"/>
        <activity android:name=".GlobalStatsAdapter" />
        <activity android:name=".Activities.LevelActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.MenuActivity"
            android:label="@string/vquiz_name"/>
    </application>

</manifest>